#map {
	height: 500px;  /* The height is 400 pixels */
	width: 95%;  /* The width is the width of the web page */
	margin-left: auto;
	margin-right: auto;
}
.entry-map {
	margin: 20px;
}

body > main > div.container.content {
	min-height: 300px !important;
}
